* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  height: 100%; /* Nếu muốn xài % ở #container thì html và body phải là 100% để có chiều cao cố định */
  width: 100%;
  background-color: black;
  color: antiquewhite;
  font-weight: bold;
  overflow-x: hidden;
}

.total {
  border: 1px solid white;
  user-select: none;
  border-radius: 30px 30px 30px 30px;
  display: grid;
  grid-template-rows: 20% 80%;
  height: 100%;
  /* Nếu muốn xài % ở #container thì html và body phải là 100% để có chiều cao cố định */
  width: 100%;
}

/* thanh navbar */
.search {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  border: 1px solid white;
}

.items {
  /* background: radial-gradient(circle, black, #8f908c); */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.items img {
  width: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.items .cart {
  border: 1px solid pink;
  /* phải có height ở phần tử con khi sử dụng repeat(0 của grid ở phần tử cha */
  height: 120px;
  cursor: pointer;
}

i {
  font-size: xx-large;
  color: white;
}

.products {
  /* border: 1px solid white; */
  /* tạo vùng cuộn được */
  overflow-y: auto;
  overflow-x: clip;
}

/* tắt bỏ thanh cuộn */
.products::-webkit-scrollbar {
  display: none;
}

/* /////////////////Các thẻ sẩn phẩm////////////////////////////////////////////////////////////////////////////////////// */

#products {
  display: grid;
  /* khi sử dụng minmax: không nên sử dụng px mà nên sử dụng % và fr đển cho nó tự động chia ,còn nếu px thì cái khung sẽ giữ nguyên theo px còn thằng con nếu nhỏ cái khung thì nó sẽ tạo ra 1 khoảng hở do nhỏ hơn cái khung  */
  grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
  /* khoảng cách giữa các cột */
  grid-row-gap: 3em;
  /*HERE: khoảng cách giữa khung và tất cả nội dung thẻ sản phẩm  */
  padding: 5%;
  /* position: relative; */
}

.product_item {
  border: 1px solid pink;

  /* phải có height ở phần tử con khi sử dụng repeat() cho row của grid ở phần tử cha */
  height: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}
.p_items {
  border: 1px solid pink;
  /* có thể dụng width là 100% cho thẻ con khi sử dụng repeat() cho column của grid ở phần tử cha */
  width: 100%;
  gap: 1em;
}

.title {
  border: 3px solid white;
  display: grid;
  height: 120px;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

.p_items {
  text-align: center;
  align-content: center;
  background-color: black;
  height: 50%;
}

.imge {
  max-width: 100%;
  object-fit: contain;
  position: relative;
}
@media (max-width: 900px) {
  .items img {
    width: 100%;
  }

  i {
    font-size: x-large;
  }
}
